<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GridPath Solver{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </header>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <span>Created by G Daniel Vineel</span>
        <a href="https://www.linkedin.com/in/danielvineel" target="_blank">LinkedIn</a>
    </footer>

    {% block footer %}{% endblock %}

</body>
</html>
