#grid{
    display: grid;

}

.none{
    display: none !important;
}

#loading-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    z-index: 9999;
}

#loading-overlay.none {
    display: none;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


button{
    border-radius: 20px;
    padding:10px;
}
.sel-btn{
    background-color: black;
    color:white;
}



header{
    width: 100%;
    text-align: center;
    height:50px;
    align-content: center;
    background-color: purple;
    color:whitesmoke;
    font-size: larger;
    /* font-weight: 900; */
}
footer{
    width:100%;
    background-color: purple;
    color:whitesmoke;
    position: fixed;
    bottom:0px;
    left:0px;
    text-align: center;
    height:60px;
    font-size: larger;

    align-content: center;
}
body{
    min-height:100vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
/* .main>div{
    width: 100%;
} */

#first-info>div{
    max-width:400px;
    margin:10px;
    padding:10px;
    display: flex;
    border-bottom: 1px solid gray;
    border-radius: 15px;
    justify-content: space-between;
}

#first-info>div>input{
    margin-left: 20px;
    border: 1px inset black;
    padding: 2px 6px;
    border-radius: 10px;
}
#first-info>div>button{
    width  :100%;
    background-color: blueviolet;
    color:white
}
#second-part{
    display: flex;
    flex-wrap: wrap;
    margin:20px;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#grid>div{
    border: 1px solid black;
}
#second-part>.controls>div{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin: 10px;;
}
#reload{
    position: absolute;
    top:10px;

    left:1.5px;
    z-index:10;
    width:150px;
    border-radius: 15px;
    margin:12px;
    background-color: rgb(252, 99, 44) ;
    color:whitesmoke;
    padding:10px;
    text-align: center;
    border: 1px solid black;
}
#total-ways{
    text-align: center;
    padding: 10px;
    margin:10px;
    border-bottom: 1px solid black;
    font-size: larger;
    font-weight: 400;

}
#results{

    width: 96%;
    margin-left: 2%;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    padding:10px;
    border-radius: 10px;
    justify-content: space-evenly;

}
#results>div>div{
    border:1px solid black;
}

#bth-submit{
    background-color:rebeccapurple ;
    color:white;
    width: 100%;
    font-size: large;
    font-weight: 400;
}